
.has-result{
  background: #FFFFFF;
  margin: 10px;
  box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr 6em;
  .href-result-table-page{
    color: #007ACE;
    font-size: 14px;
  }
  .icons-table-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    span{
      color: #007ACE;
      font-size: 14px;
    }
  }
  .description-result{
    justify-items: baseline;
    padding: 15px;
    display: grid;
    width: 31rem;
    .dates-grid-table{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: baseline;
    }
    .result-header{
      color: #007ACE;
      font-size: 12px;
    }
    .theme-table-page{
      padding: 10px 0 5px 0;
      color: #919EAB;
      font-size: 12px;
    }
    .description-table-page{
      text-align: initial;
      padding-bottom: 20px;
      font-size: 14px;
      color: #000000;
    }
    .header-text-table-page{
      padding-right: 5px;
      font-size: 12px;
      color: #919EAB;
    }
    .author-table-page{
      color: #212B36;
      font-size: 14px;
    }
    .dates-table-page{
      color: rgba(33,43,54,0.9);
      font-size: 13px;
    }
  }
}
