.head-body{
  height: calc(100% - 1em);
  display: grid;
  padding: 1em 0 0 1em;
  .button-next-table-page {
    height: 3em;
    justify-self: baseline;
    align-self: center;
    width: 10em;
    background: #007ACE;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.1), inset 0px 1px 0px rgba(255, 255, 255, 0.06);
    border-radius: 3px;
  }
  .body-table-pages{
    display: grid;
    justify-items: start;
    grid-gap: 1em;
    background-color: #D7D7D7;
  }
  .stages{
    width: 100%;
    display: flex;
    padding: 0 0 0 1em;
    align-items: center;
    .stage{
      padding-right: 1em;
      color: #007ACE;
    }
    .line{
      width: 18em;
      border: 1px solid #007ACE;
      margin-right: 1em;
      height: 0;
    }
  }

  .fields{
    padding: 1em 0 0 1em;
    display: grid;
    grid-template-columns: 7em 30rem;
    justify-items: baseline;
    grid-gap: 1em;
    span{
      color: #4F4F4F;
    }
    input{
      width: -webkit-fill-available;
      border-radius: 4px;
      border-color: rgba(0,122,206,0.5);
      outline-color: #007ACE;
    }
    textarea{
      width: -webkit-fill-available;
      border-radius: 4px;
      border-color: rgba(0,122,206,0.5);
      outline-color: #007ACE;
    }
    Select{
      width: -webkit-fill-available;
      border-radius: 4px;
      border-color: rgba(0,122,206,0.5);
      outline-color: #007ACE;
    }
  }
  .has-theme{
    overflow: auto;
    display: flex;
  }
}
