.short_info_block{
  display: grid;
  grid-template-columns: 12em 1fr;
  grid-gap: 0.5em;
  justify-content: flex-start;
  justify-items: baseline;
  margin: 0 2rem;
  font-size: 15px;
}
.green_text{
  color: #4F4F4F;
}
